<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.PictureDAO">
    <resultMap id="PictureResult" type="Picture">
        <id property="itemId" column="itemid"/>
        <result property="picturePath" column="picturepath"/>
        <result property="classId" column="classid"/>
    </resultMap>
    <insert id="savePicture">
        insert
        into t_picture(itemid,picturepath,classid)
        values (#{picture.itemId},#{picture.picturePath},#{picture.classId})
    </insert>
    <update id="updatePicture">
        update t_picture
        set picturePath=#{picture.picturePath}
        where itemid=#{picture.itemId}
    </update>
    <delete id="deletePicture">
        delete from t_picture
        where itemid=#{picture.itemId}
    </delete>
    <select id="getPictureList" resultType="Picture">
        select *
        from t_picture
    </select>
    <select id="getPictureByItemId" resultType="Picture">
        select *
        from t_picture
        where itemid=#{itemId}
    </select>
</mapper>