<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.maven.core.dao.TOrderMapper">
    <resultMap id="BaseResultMap" type="com.ssm.maven.core.pojo.TOrder">
        <id column="orderid" jdbcType="VARCHAR" property="orderid" />
        <result column="payment" jdbcType="VARCHAR" property="payment" />
        <result column="paymentype" jdbcType="INTEGER" property="paymentype" />
        <result column="postmoney" jdbcType="VARCHAR" property="postmoney" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
        <result column="paymenttime" jdbcType="TIMESTAMP" property="paymenttime" />
        <result column="sendtime" jdbcType="TIMESTAMP" property="sendtime" />
        <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
        <result column="closetime" jdbcType="TIMESTAMP" property="closetime" />
        <result column="shippingname" jdbcType="VARCHAR" property="shippingname" />
        <result column="shippingcode" jdbcType="VARCHAR" property="shippingcode" />
        <result column="loginid" jdbcType="VARCHAR" property="loginid" />
        <result column="message" jdbcType="VARCHAR" property="message" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    orderid, payment, paymentype, postmoney, status, createtime, updatetime, paymenttime,
    sendtime, endtime, closetime, shippingname, shippingcode, loginid, message
  </sql>
    <select id="selectByExample" parameterType="com.ssm.maven.core.pojo.TOrderExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_order
        where orderid = #{orderid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_order
    where orderid = #{orderid,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.ssm.maven.core.pojo.TOrderExample">
        delete from t_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.ssm.maven.core.pojo.TOrder">
    insert into t_order (orderid, payment, paymentype,
      postmoney, status, createtime,
      updatetime, paymenttime, sendtime,
      endtime, closetime, shippingname,
      shippingcode, loginid, message
      )
    values (#{orderid,jdbcType=VARCHAR}, #{payment,jdbcType=VARCHAR}, #{paymentype,jdbcType=INTEGER},
      #{postmoney,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
      #{updatetime,jdbcType=TIMESTAMP}, #{paymenttime,jdbcType=TIMESTAMP}, #{sendtime,jdbcType=TIMESTAMP},
      #{endtime,jdbcType=TIMESTAMP}, #{closetime,jdbcType=TIMESTAMP}, #{shippingname,jdbcType=VARCHAR},
      #{shippingcode,jdbcType=VARCHAR}, #{loginid,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ssm.maven.core.pojo.TOrder">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderid != null">
                orderid,
            </if>
            <if test="payment != null">
                payment,
            </if>
            <if test="paymentype != null">
                paymentype,
            </if>
            <if test="postmoney != null">
                postmoney,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="paymenttime != null">
                paymenttime,
            </if>
            <if test="sendtime != null">
                sendtime,
            </if>
            <if test="endtime != null">
                endtime,
            </if>
            <if test="closetime != null">
                closetime,
            </if>
            <if test="shippingname != null">
                shippingname,
            </if>
            <if test="shippingcode != null">
                shippingcode,
            </if>
            <if test="loginid != null">
                loginid,
            </if>
            <if test="message != null">
                message,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderid != null">
                #{orderid,jdbcType=VARCHAR},
            </if>
            <if test="payment != null">
                #{payment,jdbcType=VARCHAR},
            </if>
            <if test="paymentype != null">
                #{paymentype,jdbcType=INTEGER},
            </if>
            <if test="postmoney != null">
                #{postmoney,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="paymenttime != null">
                #{paymenttime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendtime != null">
                #{sendtime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="closetime != null">
                #{closetime,jdbcType=TIMESTAMP},
            </if>
            <if test="shippingname != null">
                #{shippingname,jdbcType=VARCHAR},
            </if>
            <if test="shippingcode != null">
                #{shippingcode,jdbcType=VARCHAR},
            </if>
            <if test="loginid != null">
                #{loginid,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ssm.maven.core.pojo.TOrderExample" resultType="java.lang.Long">
        select count(*) from t_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_order
        <set>
            <if test="record.orderid != null">
                orderid = #{record.orderid,jdbcType=VARCHAR},
            </if>
            <if test="record.payment != null">
                payment = #{record.payment,jdbcType=VARCHAR},
            </if>
            <if test="record.paymentype != null">
                paymentype = #{record.paymentype,jdbcType=INTEGER},
            </if>
            <if test="record.postmoney != null">
                postmoney = #{record.postmoney,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.createtime != null">
                createtime = #{record.createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updatetime != null">
                updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.paymenttime != null">
                paymenttime = #{record.paymenttime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.sendtime != null">
                sendtime = #{record.sendtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.endtime != null">
                endtime = #{record.endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.closetime != null">
                closetime = #{record.closetime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.shippingname != null">
                shippingname = #{record.shippingname,jdbcType=VARCHAR},
            </if>
            <if test="record.shippingcode != null">
                shippingcode = #{record.shippingcode,jdbcType=VARCHAR},
            </if>
            <if test="record.loginid != null">
                loginid = #{record.loginid,jdbcType=VARCHAR},
            </if>
            <if test="record.message != null">
                message = #{record.message,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_order
        set orderid = #{record.orderid,jdbcType=VARCHAR},
        payment = #{record.payment,jdbcType=VARCHAR},
        paymentype = #{record.paymentype,jdbcType=INTEGER},
        postmoney = #{record.postmoney,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=INTEGER},
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
        paymenttime = #{record.paymenttime,jdbcType=TIMESTAMP},
        sendtime = #{record.sendtime,jdbcType=TIMESTAMP},
        endtime = #{record.endtime,jdbcType=TIMESTAMP},
        closetime = #{record.closetime,jdbcType=TIMESTAMP},
        shippingname = #{record.shippingname,jdbcType=VARCHAR},
        shippingcode = #{record.shippingcode,jdbcType=VARCHAR},
        loginid = #{record.loginid,jdbcType=VARCHAR},
        message = #{record.message,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssm.maven.core.pojo.TOrder">
        update t_order
        <set>
            <if test="payment != null">
                payment = #{payment,jdbcType=VARCHAR},
            </if>
            <if test="paymentype != null">
                paymentype = #{paymentype,jdbcType=INTEGER},
            </if>
            <if test="postmoney != null">
                postmoney = #{postmoney,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="paymenttime != null">
                paymenttime = #{paymenttime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendtime != null">
                sendtime = #{sendtime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                endtime = #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="closetime != null">
                closetime = #{closetime,jdbcType=TIMESTAMP},
            </if>
            <if test="shippingname != null">
                shippingname = #{shippingname,jdbcType=VARCHAR},
            </if>
            <if test="shippingcode != null">
                shippingcode = #{shippingcode,jdbcType=VARCHAR},
            </if>
            <if test="loginid != null">
                loginid = #{loginid,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
        </set>
        where orderid = #{orderid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssm.maven.core.pojo.TOrder">
    update t_order
    set payment = #{payment,jdbcType=VARCHAR},
      paymentype = #{paymentype,jdbcType=INTEGER},
      postmoney = #{postmoney,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      paymenttime = #{paymenttime,jdbcType=TIMESTAMP},
      sendtime = #{sendtime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      closetime = #{closetime,jdbcType=TIMESTAMP},
      shippingname = #{shippingname,jdbcType=VARCHAR},
      shippingcode = #{shippingcode,jdbcType=VARCHAR},
      loginid = #{loginid,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR}
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>