<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.ssm.maven.core.pojo.User" alias="User"/>
        <typeAlias type="com.ssm.maven.core.pojo.Item" alias="Item"/>
        <typeAlias type="com.ssm.maven.core.pojo.Classification" alias="Classification"/>
        <typeAlias type="com.ssm.maven.core.pojo.Picture" alias="Picture"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/ItemMapper.xml"/>
        <mapper resource="mappers/ClassificationMapper.xml"/>
        <mapper resource="mappers/PictureMapper.xml"/>
        <mapper resource="mappers/TUserMapper.xml"/>
        <mapper resource="mappers/TOrderSendMapper.xml"/>
        <mapper resource="mappers/TOrderMapper.xml"/>
        <mapper resource="mappers/TOrderInfoMapper.xml"/>
    </mappers>
</configuration>