/* CSS Document */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
form,
img,
dl,
dt,
dd,
table,
th,
td,
blockquote,
fieldset,
div,
strong,
label,
em {
	margin: 0;
	padding: 0;
	border: 0;
}

ul,
ol,
li {
	list-style: none;
}

input,
button {
	margin: 0;
	font-size: 12px;
	vertical-align: middle;
}

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #c00;

}

#preview {
	text-align: center;
	width: 352px;
	float: none
}

.jqzoom {
	border-bottom: #ddd 1px solid;
	border-left: #ddd 1px solid;
	width: 350px;
	margin-bottom: 10px;
	height: 350px;
	overflow: hidden;
	border-top: #ddd 1px solid;
	border-right: #ddd 1px solid;
	_height: 350px;
	position: relative;
}

.zoomdiv {
	width: 350px;
	height: 350px;
	left: 859px;
	z-index: 100;
	border-bottom: #e4e4e4 1px solid;
	position: absolute;
	text-align: center;
	border-left: #e4e4e4 1px solid;
	width: 350px;
	display: none;
	background: url(../images/loading.gif) #fff no-repeat center center;
	height: 350px;
	overflow: hidden;
	border-top: #e4e4e4 1px solid;
	top: 1px;
	border-right: #e4e4e4 1px solid;
	left: 0px
}

#spec {
	position: relative;
	width: 352px;
	height: 56px;
	overflow: hidden;
	padding-top: 6px
}

.specLeftT {
	position: absolute;
	width: 5px;
	background: url(../img/proddetlIcon.gif)no-repeat -157px 0px;
	float: left;
	height: 9px;
	top: 17px;
	cursor: pointer;
	left: 0px
}

.specRightT {
	position: absolute;
	width: 5px;
	background: url(../img/proddetlIcon.gif) no-repeat -164px 0px;
	float: left;
	height: 9px;
	top: 17px;
	cursor: pointer;
	right: 0px
}

.specLeftF {
	position: absolute;
	width: 5px;
	background: url(../img/proddetlIcon.gif) no-repeat -145px 0px;
	float: left;
	height: 9px;
	top: 17px;
	cursor: pointer;
	left: 0px
}

.specRightF {
	position: absolute;
	width: 5px;
	background: url(../img/proddetlIcon.gif) no-repeat -151px 0px;
	float: left;
	height: 9px;
	top: 17px;
	cursor: pointer;
	right: 0px
}

#specList {
	display: inline;
	float: left;
	margin-left: 2px
}

#specList UL LI {
	width: 50px;
	display: inline;
	float: left;
	margin-right: 4px
}

#specList UL LI IMG {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 2px;
	padding-left: 2px;
	width: 40px;
	padding-right: 2px;
	margin-bottom: 1px;
	height: 40px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 2px
}

.bigimg {
	WIDTH: 800px;
	HEIGHT: 800px
}

.jqZoomPup {
	z-index: 10;
	border-bottom: #aaa 1px solid;
	position: absolute;
	filter: alpha(opacity=50);
	border-left: #aaa 1px solid;
	width: 50px;
	background: #fede4f no-repeat 50% top;
	height: 50px;
	visibility: hidden;
	border-top: #aaa 1px solid;
	top: 0px;
	cursor: move;
	border-right: #aaa 1px solid;
	left: 0px;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5
}

#specList {
	POSITION: absolute;
	TEXT-ALIGN: left;
	WIDTH: 320px;
	HEIGHT: 60px;
	OVERFLOW: hidden;
	TOP: 0px;
	LEFT:16px
}

#specList UL {
	POSITION: absolute;
	WIDTH:325px;
	LEFT:0px
}