@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
ul,
ol,
li,
dl,
dd,
dt {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #666;
}

a img {
	font-size: 0;
}

ul,
li {
	list-style: none;
}

input,
img,
button {
	border: none;
}


/*top*/

.main .top {
	width: 100%;
	background-color: #f2f2f2;
	margin-top: 0;
	margin-top: -4px;
}

.main .top .w {
	width: 1210px;
	height: 44px;
	margin: 0 auto;
}

.main .top .w .left {
	float: left;
	width: 484px;
}

.main .top .w .left div {
	float: left;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	margin-right: 5px;
}

.main .top .w .left div span {
	margin: 0 5px;
}

.main .top .w .left div.bk {
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
	margin-top: 11px;
}

.main .top .w .left div.wz {
	width: 120px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.main .top .w .right {
	float: right;
	width: 494px;
}

.main .top .w .right div {
	float: left;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	margin-right: 5px;
}

.main .top .w .right div.num span {
	height: 16px;
	width: 74px;
	background: url(../img/goods-top.png) no-repeat 0 -23px;
	display: inline-block;
	margin: 13px 0px 0
}

.main .top .w .right div.num a {
	font-size: 12px;
	color: #FF0000;
	position: relative;
	top: -3px
}

.main .top .w .right div.lx img {
	position: relative;
	top: 5px;
}

.main .top .w .right div.ji .img {
	width: 17px;
	height: 18px;
	background: url(../img/goods-top3.png) no-repeat 0 0;
	display: inline-block;
	margin-top: 11px;
}

.main .top .w .right div.gz .img2 {
	width: 17px;
	height: 16px;
	background: url(../img/goods-top3.png) no-repeat -16px -17px;
	;
	display: inline-block;
	margin-top: 11px;
}


/*product*/

.main>.w {
	width: 1210px;
	margin: 0 auto;
	height: 585px;
	margin-top: 10px;
}

.main>.w .product .img-warpper {
	width: 352px;
	float: left;
	margin-bottom: 15px;
}

.product .img-warpper .bottom .left {
	float: left;
}

.product .img-warpper .bottom .left a i {
	color: #FF0000;
	margin-right: 5px;
}

.product .img-warpper .bottom .right {
	float: right;
}

.product .msg-wrapper {
	width: 590px;
	float: left;
	margin: 0 30px;
}

.product .msg-wrapper .name {
	font: 700 16px Arial, "microsoft yahei";
	color: #666;
	line-height: 28px;
}

.product .msg-wrapper .news {
	color: #e4393c;
	font-size: 13px;
	margin: 5px auto;
}

.product .msg-wrapper .msg {
    background-color: #f3f3f3;
    padding-top: 10px;
	height: 70px;
}

.product .msg-wrapper .msg .price {
	height: 21px;
}

.product .msg-wrapper .msg .price div {
	float: left;
}

.product .msg-wrapper .msg .price .dt {
	font-size: 13px;
	color: #999;
	padding-left: 10px;
	height: 21px;
	line-height: 21px;
	width: 60px;
}

.product .msg-wrapper .msg .price .dd span {
	color: #e4393c;
	font-size: 20px;
	font-weight: bold;
	height: 21px;
	line-height: 21px;
}

.product .msg-wrapper .msg .price .dd a {
	color: #005aa0;
	font-size: 13px;
	height: 21px;
	line-height: 21px;
	font-weight: normal;
	margin-left: 15px;
}

.product .msg-wrapper .msg .price .pj {
	float: right;
	margin: 0 10px;
	font-size: 13px;
	color: #666;
	text-align: center;
}

.product .msg-wrapper .msg .price .pj .num {
	color: #005aa0;
}

.product .msg-wrapper .middle .cx {
	clear: left;
	color: #999;
	background: url(../images/msg.png) 0 -12px repeat-x #efefef;
	width: 590px;
	height: 31px;
}

.product .msg-wrapper .middle .cx .left {
	float: left;
	font-size: 13px;
	color: #999;
	padding-left: 10px;
	height: 31px;
	line-height: 31px;
	width: 60px;
}

.product .msg-wrapper .middle .cx .right {
	padding-left: 70px;
}

.product .msg-wrapper .middle .cx .right a {
	color: #df3033;
	border: 1px solid #df3033;
	padding: 2px 3px;
	margin-right: 5px;
	line-height: 31px;
	font-size: 12px;
}

.product .msg-wrapper .middle .cx .right .right-bot {
	margin-top: 10px;
}

.product .msg-wrapper .middle .cx .right .right-bot span {
	float: right;
	font-size: 13px;
	margin-right: 10px;
}

.product .msg-wrapper .middle .cx .right .right-bot i {
	margin-left: 5px;
}

.product .msg-wrapper .middle .cx .right .right-top span {
	font-size: 13px;
	margin-left: 10px;
}

.product .msg-wrapper .middle .msg .adress {
	width: 590px;
	height: 30px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.product .msg-wrapper .middle .msg .adress .dz {
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	color: #999;
	padding-left: 10px;
	width: 60px;
	float: left;
}

.product .msg-wrapper .middle .msg .adress .diqu {
	float: left;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	color: #666;
	border: 1px solid #FFFFFF;
	padding: 0 5px;
}

.product .msg-wrapper .middle .msg .adress .diqu i {
	margin-left: 5px;
}



.product .msg-wrapper .middle .msg .adress .drop {
	width: 382px;
	border: 1px solid #ccc;
	position: absolute;
	top: 26px;
	left: 70px;
	border-top: none;
	display: none;
	z-index: 1;
	background-color: #FFFFFF;
}

.product .msg-wrapper .middle .msg .adress .drop .drop-top {
	clear: left;
	margin-top: 15px;
	font-size: 12px;
	color: #666;
	font-weight: bold;
	margin-left: 10px;
}

.product .msg-wrapper .middle .msg .adress .drop .drop-top i {
	float: right;
	margin-right: 10px;
	font-size: 15px;
}

.product .msg-wrapper .middle .msg .adress .drop .drop-option ul li {
	float: left;
	width: 80px;
	height: 18px;
	margin: 8px 5px;
}

.product .msg-wrapper .middle .msg .adress .drop .drop-option .layui-tab-content ul li a:hover {
	background-color: #FF0000;
	padding: 3px;
	color: #FFFFFF;
}

.product .msg-wrapper .middle .msg .adress .drop .drop-option ul.layui-tab-title {
	height: 29px;
	border-bottom: 2px solid #ff0000;
}

.product .msg-wrapper .middle .msg .adress .drop .drop-option ul.layui-tab-title li {
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

.product .msg-wrapper .middle .msg .adress .diqu .drop ul.layui-tab-title li a {
	color: #005aa0 !important;
	font-size: 14px;
	font-weight: bold;
}

.product .msg-wrapper .middle .msg .adress .diqu:hover .drop {
	display: block;
}

.layui-tab-title .layui-this:after {
	height: 31px;
	border: 2px solid #ff0000;
	border-bottom-color: #fff
}

.product .msg-wrapper .chose {
	float: left;
	clear: left;
	margin-top: 15px;
	height: 183px;
}

.product .msg-wrapper .chose .ys {
	float: left;
	font-size: 13px;
	color: #999;
	width: 60px;
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
}

.product .msg-wrapper .chose .type {
	float: left;
	font-size: 13px;
}

.product .msg-wrapper .chose .type .fl {
    float: left;
    margin-right: 7px;
    margin-bottom: 4px;
	border: 1px solid #ccc;
	background-color: #fdfbf7;
	height: 40px;
	line-height: 40px;
}

.product .msg-wrapper .chose .type .fl:hover {
	border: 1px solid #ff0000;
}

.product .msg-wrapper .chose .type a img {
	width: 40px;
	height: 40px;
}

.product .msg-wrapper .chose .type a {
	display: block;
	height: 40px;
}

.product .msg-wrapper .chose .type a span {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	position: relative;
	top: -15px;
	margin: 0 8px;
}

.product .msg-wrapper .bz {
	float: left;
	height: 43px;
	border-bottom: 1px solid #eee;
}

.product .msg-wrapper .bz .name {
	font-size: 13px;
	color: #999;
	width: 60px;
	padding-left: 10px;
	height: 36px;
	line-height: 36px;
	float: left;
	font-weight: normal;
}

.product .msg-wrapper .bz {
	margin-top: 7px;
}

.product .msg-wrapper .bz .year {
	padding-left: 70px;
	width: 520px;
}

.product .msg-wrapper .bz .year a {
	height: 32px;
	line-height: 32px;
	border: 1px solid #ccc;
	padding: 10px;
}

.product .msg-wrapper .bz .year a img {
	margin-right: 5px;
	position: relative;
	top: 4px
}

.product .msg-wrapper .bz .year a i {
	margin-left: 5px;
}

.product .msg-wrapper .bz .year>i {
	font-size: 18px;
	color: #CCCCCC;
	margin-left: 5px;
}

.product .msg-wrapper .bz .year>i:hover {
	cursor: pointer;
}

.product .msg-wrapper .input-wrapper {
	float: left;
	margin-top: 15px;
	width: 590px;
}

.product .msg-wrapper .input-wrapper .left {
	height: 46px;
	position: relative;
	float: left;
}

.product .msg-wrapper .input-wrapper .left input {
	width: 46px;
	height: 44px;
	text-align: center;
	border: 1px solid #ccc;
	border-right: none;
	font-size: 15px;
}

.product .msg-wrapper .input-wrapper .left a {
	width: 23px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
	display: block;
	text-align: center;
	background-color: #f1f1f1;
	float: right;
}

.product .msg-wrapper .input-wrapper .left a:hover {
	cursor: pointer;
}

.product .msg-wrapper .input-wrapper .left a.reduce {
	position: absolute;
	right: 0;
	bottom: 0;
}

.product .msg-wrapper .input-wrapper .right button {
	float: left;
	width: 142px;
	height: 46px;
	line-height: 46px;
	background-color: #f10215;
	margin-left: 10px;
	color: #ffffff;
	padding: 0 26px;
	font-size: 18px;
	font-weight: 600;
	font-family: "microsoft yahei";
	outline: none;
}

.product .msg-wrapper .input-wrapper .right button:hover {
	cursor: pointer;
}

.product .msg-wrapper .tishi {
	float: left;
	margin-top: 20px;
	font-family: simsun;
	color: #999;
}


/*tuijian*/

.main .w.two {
	clear: left;
	height: 279px;
}

.main .w.two .recom {
	width: 1210px;
	height: 210px;
}

.main .w.two .recom .recom-top {
	height: 38px;
	background-color: #F7F7F7;
	border: 1px solid #eee;
	border-bottom: 1px solid #e4393c;
}

.main .w.two .recom .recom-top p {
	font-size: 14px;
	width: 106px;
	height: 38px;
	line-height: 38px;
	background-color: #e4393c;
	color: #ffffff;
	font-family: "microsoft yahei";
	text-align: center;
}

.main .w.two .recom .shop {
	padding: 10px 0;
}

.main .w.two .recom .shop ul li {
	width: 20%;
	float: left;
	text-align: center;
	margin: 10px auto;
	position: relative;
}

.main .w.two .recom .shop ul li p {
	color: #e4393c;
	font-size: 14px;
	font-family: Verdana;
	font-weight: 600;
	margin-top: 10px;
}

.main .w.two .recom .shop ul li .name {
	width: 140px;
	height: 30px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .7);
	color: #FFFFFF;
	position: absolute;
	top: 130px;
	left: 41px;
	padding: 0 10px;
	display: none;
}

.main .w.two .recom .shop ul li:hover .name {
	display: block;
}

.main .w.three .itduce .tab1 {
	height: 38px;
	background-color: #F7F7F7;
	border: 1px solid #eee;
	border-bottom: 1px solid #e4393c;
}

.main .w.three .itduce .tab1 .menu {
	height: 38px;
	width: 1210px;
}

.main .w.three .itduce .tab1 ul li {
	font-size: 14px;
	width: 106px;
	height: 38px;
	line-height: 38px;
	color: #666;
	font-weight: 400;
	font-family: "microsoft yahei";
	text-align: center;
	float: left;
	
}

.main .w.three .itduce .tab1 ul li:hover {
	cursor: pointer;
}

.main .w.three .itduce .tab1 ul li.active {
	background-color: #e4393c;
	color: #FFFFFF;
}

.main .w.three .itduce .tab1 .menu button {
	float: right;
	width: 92px;
	height: 28px;
	line-height: 28px;
	background-color: #f10215;
	color: #ffffff;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 500;
	font-family: "microsoft yahei";
	outline: none;
	margin: 5px 10px;
}

.main .w.three .itduce .tab1 .menu button:hover{cursor: pointer;}

.main .w.three .itduce .tab1 .menudiv {
	float: left;
}

/*商品介绍*/
#tab-content .tle{width:1210px;margin-top: 30px;}
#tab-content .div-first .lib{padding:0 10px 10px;height: 137px;border-bottom: 1px solid #eee;}
#tab-content .div-first ul #one{width: 1210px;margin-bottom: 20px;}
#tab-content .div-first ul li{float: left;width: 200px;padding-left: 42px;margin-bottom: 5px;height: 18px;overflow: hidden;font-size: 12px;line-height: 18px;text-align: left;    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
#tab-content .div-first ul li a{color:#5e69ad;}
#tab-content .div-first p a{clear: left;float: right;color: #5E69AD;margin-top:15px;}
#tab-content .div-first .imgs{margin-top: 10px;}
#tab-content .div-first .imgs img{width:1210px;}
#tab-content .div-first .imgs a{margin-top: 0;font-size: 0;}
#tab-content .div-first .imgs .small-wrapper{width: 1210px;}
#tab-content .div-first .imgs .small-wrapper img{width:403px;height: 356px;}
/*商品规格*/
#tab-content .div-second .second-top{height: 420px;border-bottom: 1px solid #EEE;}
#tab-content .div-second .top-name{width:110px;height: 338px;text-align: right;color: #999;float: left;padding-top:12px;}
#tab-content .div-second .top-content{padding-left: 110px;}
#tab-content .div-second .top-content ul li:nth-child(odd){width: 150px;text-align: right;margin-right: 50px;color: #999;font-size: 12px;}
#tab-content .div-second .top-content ul li:nth-child(even){width:800px;text-align: left;color: #999;font-size: 12px;}
/*#tab-content .div-second .second-middle{height:38px;background-color: #F7F7F7;border: 1px solid #EEE;margin-top:20px;}
#tab-content .div-second .second-middle p{font-size: 14px;width: 86px;height: 38px;line-height: 38px;color: #666;font-weight: 600;font-family: "microsoft yahei";text-align: center;}*/
#tab-content .div-second .second-bto{width:1210px;height: 893px;padding: 30px 10px 0;}
#tab-content .div-second .second-bto .bto-top{height: 550px;}
#tab-content .div-three .three-name,
#tab-content .div-four .four-name{height:38px;background-color: #F7F7F7;border: 1px solid #EEE;margin-top:20px;}
#tab-content .div-three .three-name p,
#tab-content .div-four .four-name p
{font-size: 14px;width: 86px;height: 38px;line-height: 38px;color: #666;font-weight: 600;font-family: "microsoft yahei";text-align: center;}
#tab-content .div-three .mc .item-detail{padding: 10px;}
#tab-content .div-three .mc .serve-agree-bd{padding: 20px 20px 20px 62px;}
#tab-content .div-three .mc .serve-agree-bd dt{display: block;height: 32px;line-height: 32px;margin-left: -42px;font-size: 16px;color: #e4393c;font-family: "microsoft yahei";}
#tab-content .div-three .mc .serve-agree-bd dt .goods{background:url(../img/bto-small1.png) no-repeat}
#tab-content .div-three .mc .serve-agree-bd dt .unprofor{background:url(../img/bto-small2.png) no-repeat}
#tab-content .div-three .mc .serve-agree-bd dt .no-worries{background:url(../img/bto-small3.png) no-repeat}
#tab-content .div-three .mc .serve-agree-bd dt i{display: inline-block;width: 32px;height: 32px;line-height: 32px;padding-right: 10px;vertical-align: bottom;}  
#tab-content .div-three .mc .serve-agree-bd dd{display: block;padding: 10px 0 30px;line-height: 18px;color: #666;}
#state strong{color:#e4393c;}
#state {color: #666;}
#state p{margin:5px auto;line-height: 20px;}
